/* Imports */
@font-face {
	font-family: 'Lato';
	src: url('https://fonts.googleapis.com/css?family=Lato');
}

/* Default Styles */
* {
	padding: 0;
	border: 0;
	margin: 0;
}

*::-moz-selection {
	background-color: #A99999;
	color: #EDEDED;
}

*::selection {
	background-color: #A99999;
	color: #EDEDED;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url(img/background.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #F6F6F6;
}

h1 {
	margin: 0 0 15px 0;
	font-size: 2.5rem;
}

h2 {
	font-size: 1.875rem;
	margin: 20px 0 15px 0;
}

h3 {
	font-size: 1.25rem;
	margin: 10px 0 15px 0;
}

p, main li {
	font-size: 0.875rem;
	margin-bottom: 10px;
}

ul, ol {
	margin: 20px 0 20px 5%;
}

a {
	text-decoration: none;
	color: #A99999;
}

a:hover {
	color:#F6F6F6;
	transition: .25s;
}

strong {
	color: #A99999;
}


/* Header Styles */
header {
	width: 100%;
	overflow: auto;
	background: linear-gradient(to right, #A99999 75%, rgba(0,0,0,0) 100%);
}

header div {
	display: inline-block;
	width: 50%;
	text-align: center;
}

header div h1 {
	margin: 10px 0;
	color: #F6F6F6;
}


/* Main Page Styles */
main {
	width: 42%;
	padding: 2.5%;
	border-radius: 25px 50px 25px 50px;
	margin: 30px 0 30px 5%;
	overflow: auto;
	background-color: #EDEDED;
}

main h1 {
	margin: 0 0 25px 0;
}

/*Footer Styles */
footer {
	width: 100%;
	height: 50px;
	overflow: auto;
	text-align: center;
	background-color: #A99999;
}

footer p {
	margin: 10px 0 10px 0;
	color: #F6F6F6;
}

#bottomLinkToTop {
	position: fixed;
	bottom: 60px;
	right: 20px;
	border-radius: 50px;
	
}

/* Responsive Styles */

@media (max-width: 800px) {

	h1 {
		text-align: center;
	}

	header {
		background-color: #A99999;
	}
	
	header div {
		width: 100%;
	}

	header div h1 {
		margin: 10px 0;
	}

	main {
		width: 80%;
		padding: 5%;
		border-radius: 25px;
		margin: 15px auto 15px auto;
	}
	
	#bottomLinkToTop {
		display: none;
	}
}
