table {
	width: 100%;
}

tr:nth-child(2n) {
	background-color: #FFFF00;
}

tr:hover td {
	background-color: #000;
	color: #fff;
}

th, td {
	width: 20%;
	padding: 10px 0 10px 0;
	margin: 5px;
	text-align: center;
}

th {
	background-color: #ADD8E6;
}
