.hoverImage, .rotateImage {
	width: 300px;
	height: 200px;
	padding: 50px 0 0 0;
	background-image: url('img/Landscape.jpg');
	background-size: cover;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hoverImage h3, .rotateImage h3 {
	font-size: 30px;
	text-align: center;
	font-weight: strong;
	color: #229999;
}

.hoverImage:hover {
	background-image: url('img/Landscape2.jpg');
	transition: .5s
}

#hoverText:hover {
	color: #992222;
	transition: .5s
}

#keyframeText {
	animation-name: textChange;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.rotateImage:hover {
	animation-name: imageRotate;
	animation-timing-function: linear;
	animation-duration: .5s;
}

@keyframes textChange {
	from {
		color: #000;
	}
	
	to {
		color: #992222;
	}
}

@keyframes imageRotate {
	33% {
		transform: rotate(5deg);
	}
	
	66% {
		transform: rotate(-5deg);
	}
	
	100% {
		transform: rotate(0);
	}
}
