/* Imports */
@font-face {
	font-family: 'Lato';
	src: url('https://fonts.googleapis.com/css?family=Lato');
}

/* Default Styles */
* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	background-color: #F6F6F6;
}

h1 {
	margin: 0 0 15px 0;
	font-size: 2.5em;
}

h2 {
	font-size: 1.875em;
	margin: 15px 0 10px 0;
}

p, main li {
	font-size: 0.875em;
	margin-bottom: 10px;
}

ul, ol {
	margin: 20px 0 20px 5%;
}

a {
	text-decoration: none;
	color: #A99999;
}

a:hover {
	color:#F6F6F6;
}

strong {
	color: #A99999;
}


/* Header Styles */
header {
	width: 100%;
	overflow: auto;
	background-color: #A99999;
}

header div {
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
}

header div h1 {
	margin: 10px 0;
	color: #F6F6F6;
}


/* Main Page Styles */
main {
	width: 42%;
	padding: 2.5%;
	border-radius: /*5% 10% 10% 5%*/25px 50px 25px 50px;
	margin: 30px 0 30px 5%;
	overflow: auto;
	background-color: #EDEDED;
}


/*Footer Styles */
footer {
	width: 100%;
	height: 50px;
	overflow: auto;
	text-align: center;
	background-color: #A99999;
}

footer p {
	margin: 10px 0 10px 0;
	color: #F6F6F6;
}


/* Responsive Styles */
@media (max-width: 800px) {
  main {
	width: 80%;
    border-radius: 25px;
    margin: 15px auto 15px auto;
  }

  h1 {
  	text-align: center;
  }
}