main img {
	display: block;
	width: 300px;
	margin: 0 0 30px 0;
}

#greyscale {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

#sepia {
	-webkit-filter: sepia(1);
	filter: sepia(1);
}

#hue {
	-webkit-filter: hue-rotate(279deg);
	filter: hue-rotate(279deg);
}

#saturate {
	-webkit-filter: saturate(.9);
	filter: saturate(.9);
}

#opacity {
	-webkit-filter: opacity(.5);
	filter: opacity(.5);
}

#brightness {
	-webkit-filter: brightness(.2);
	filter: brightness(.2);
}

#contrast {
	-webkit-filter: contrast(.5);
	filter: contrast(.5);
}

#lipsum {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}