main {
	width: 80%;
	border-radius: 50px;
	margin: 25px auto;
}

main div {
	display: inline;
	float: left;
	width: 30%;
	height: 300px;
	margin: 0 5% 15px 0;
	box-sizing: border-box;
	background-color: #F6F6F6;
}

.box1 {
	border: 20px double #A8F4FF;
	border-radius: 10%;
}

.box2 {
	border: 10px dotted #64A9B2;
}

.box3 {
	border: 20px double #415D49;
	border-radius: 120px/30px;
	margin: 0 0 15px 0;
}

.box4 {
	border: 10px dashed #9CCB98;
	border-radius: 50%;
}

.box5 {
	border: 10px outset #F6F6F6;
}

.box6 {
	border: 20px double #A8F4FF;
	border-radius: 10%;
	border-top-style: none;
	border-bottom-style: none;
	margin: 0 0 15px 0;
}

.box7 {
	border: 10px solid #F5F240;
	border-radius: 75%/25%;
}

.box8 {
	border: 10px dashed #E7450F;
	border-radius: 25%/50%;
}

.box9 {
	border: 10px groove #81BBC9;
	margin: 0 0 15px 0;
}

@media (max-width: 800px) {
	div {
		display: block;
		float: none;
		margin: 0 auto 15px auto;
	}
}