<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page Title</title>
	<link href="../../style.css" rel="stylesheet" />
	<link href="style.css" rel="Stylesheet" />
</head>
<body>
	<header id="top">
		<div>
			<h1>Front End Tutorial</h1>
		</div>
	</header>
	<main>
		<h1>Page Title</h1>
		<p>Page Content</p>
	</main>
	<a href="#top" id="bottomLinkToTop">
		<img src="../../img/arrow.png" alt="arrow"/>
	</a>
	<footer>
		<p>Sam Moore - 2016</p>
	</footer>
</body>
</html>
