/* General Styling */

::-moz-selection {
	background-color: #9CCBFF;
	color: #fff;
}

::selection {
	background-color: #9CCBFF;
	color: #fff;
}

html {
	font-size: 16px;
}

body {
	font-size: 1rem;
	background-color: #5F86B2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p, h1, h2, h3, h4, li {
	font-family: 'Poppins', sans-serif;
	cursor: default;
}

h2 {
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}

img {
	display: block;
}

p {
	margin: 0 0 10px 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:focus {
	outline: none;
}


/* Header */

header {
	background-color: #9CCBFF;
	/*background: linear-gradient(to bottom, #9CCBFF, #5F86B2);
	/* box-shadow: 3px 0 5px 5px #333;*/
}

header a {
	color: #fff;
}

.nav a:hover {
	color: #5F86B2;
}

.nav li>a:focus, .nav li>a:hover {
	background-color: #fff;
	color: #5F86B2;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fff;
	color: #5F86B2;
}

.navbar-toggle .icon-bar {
		background-color: #fff;
}

.navbar-nav>li>a {
	text-align: center;
}

.dropdown-menu {
	background-color: #fff;
	color: #5F86B2;
}


/* Footer */

footer {
	padding: 20px 0;
	background-color: #9CCBFF;
}

footer p {
	margin: 0;
	text-align: center;
	color: #fff;
}

/* -- Home Page -- */


/* Jumbo */

.jumbotron {
	margin: 50px 0 0 0;
	background-image: url('../img/bannerXS.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.jumbotron .container {
	margin: 50px auto;
}

.jumbotron h1, .jumbotron p {
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.jumbotron h1 {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	margin: 0 0 20px 0;
}

.jumbotron p {
	margin: 0;
	font-size: 1.4rem;
}

.jumbotron .ctaLink {
	margin: 20px 0 0 0;
}

.jumbotron .btn-default {
	font-size: 1.2rem;
	background-color: #9CCBFF;
	border-color: transparent;
	color: #fff;
}

@media (min-width: 500px) {
	.jumbotron .container {
		margin: 100px auto;
	}
}

@media (min-width: 800px) {
	.jumbotron {
		background-image: url('../img/bannerM.jpg');
	}
	
	.jumbotron .container {
		margin: 150px auto;
	}
}

@media (min-width: 1200px) {
	.jumbotron {
		background-image: url('../img/banner.jpg');
	}

	.jumbotron .container {
		margin: 180px auto;
	}
}

/* Main Section */

main {
	padding: 40px 0;
}


/* Info Items */

.infoItem {
	width: 90%;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 auto 20px auto;
	overflow: hidden;
	background-color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.infoItem:hover {
	box-shadow: 0 5px 0 0 #9CCBFF;
}

.infoItem .imgContainer {
	position: relative;
	z-index:1;
	height: 170px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
}

.infoItem .imgContainer img {
	border-radius: 5px 5px 0 0;
	transition: 1s;
}

.infoItem:hover .imgContainer img {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	transform: scale(1.05);
}

.infoItem .infoText {
	padding: 15px 5%;
	text-align: center;
}

.infoItem div h3 {
	margin: 0 0 10px 0;
	font-weight: bold;
	cursor: inherit;
}

.infoItem div p {
	margin: 0;
	cursor: inherit;
}

@media (min-width: 300px) {
	.infoItem .imgContainer {
		height: 170px;
	}
}

@media (min-width: 500px) {
	.infoItem .imgContainer {
		height: 250px;
	}
}

@media (min-width: 650px) {
	.infoItem .imgContainer {
		height: 300px;
	}
}

@media (min-width: 800px) {
	.infoItem .imgContainer {
		height: 350px;
	}
}

@media (min-width: 992px) {
	.infoItem .imgContainer {
		height: 170px;
	}
}


/* Opened Boxes */

.openBox {
	display: none;
	padding: 40px 0 20px 0;
	border-top: 2px solid #fff;
	margin: 40px 0 20px 0;
}

.openBox img {
	margin: 0 0 40px 0;
}

.openBox h3 {
	margin: 0 0 40px 0;
	font-size: 1.7rem;
	font-weight: bold;
}

.openBox h3, .openBox p {
	text-align: center;
	color: #fff;
}

@media (min-width: 992px) {
	.openBox img {
		margin: 0;
	}
	
	.openBox p {
		text-align: left;
	}
}


/* Client Line */

.clientLine {
	padding: 40px 0;
	background-color: #9CCBFF;
}

.clientLine ul {
	list-style: none;
	font-size: 0;
}

.clientLine ul li {
	display: inline-block;
	width: 50%;
	margin: 0 0 15px 0;
}

.clientLine ul li figure {
	width: 100%;
}

.clientLine ul li figure img {
	margin: 0 auto 10px auto;
}

.clientLine ul li figure figcaption {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

@media (min-width: 992px) {
	.clientLine ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 30px;
	}

	.clientLine ul li {
		width: 100px;
		margin: 0;
		align-items: center;
	}

	.clientLine ul li img {
		width: 100%;
	}
}


/* Section  */

.sectionContainer {
	background-image: url('../img/sectionXS.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
}

.sectionContainer section {
	width: 100%;
	padding: 20px 5%;
	border-radius: 5px;
	margin: 40px auto;
	box-sizing: border-box;
	filter: opacity(0.9);
	background-color: #fff;
}

@media (min-width: 800px) {
	.sectionContainer {
		background-image: url('../img/sectionM.jpg');
	}
	
	.sectionContainer section {
		margin: 80px auto;
	}
}

@media (min-width: 1200px) {
	.sectionContainer {
		background-image: url('../img/section.jpg');
	}
}


/* Contact Link */

.contactLink {
	margin-top: 40px;
	margin-bottom: 40px;
}

.contactLink p {
	text-align: center;
}

.contactLink p .btn-default {
	font-size: 1.2rem;
	background-color: #FFFFFF;
	border-color: transparent;
	color: #000;
}
